[build-system]
requires = ["hatchling", "hatch-regex-commit"]
build-backend = "hatchling.build"

[project]
name = "nextline"
dynamic = ["version"]
description = "A Python library for controlling Python scripts execution"
readme = "README.md"
license = "MIT"
authors = [
    { name = "Simons Observatory", email = "so_software@simonsobservatory.org" },
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
dependencies = ["janus>=0.6", "tblib>=1.7"]

[project.optional-dependencies]
dev = ["black", "isort", "flake8", "mypy", "tox", "twine"]
tests = [
    "pytest-asyncio>=0.18",
    "pytest-cov>=3.0",
    "pytest-timeout>=2.1",
    "pytest>=7.0",
    "snapshottest>=0.6",
]

[project.urls]
Homepage = "https://github.com/simonsobs/nextline"

[tool.hatch.version]
source = "regex_commit"
path = "nextline/__about__.py"
tag_sign = false

[tool.hatch.build.targets.sdist]
include = ["/nextline"]

[tool.black]
skip-string-normalization = true
target_version = ['py38', 'py39', 'py310', 'py311']

[tool.isort]
profile = "black"

[tool.mypy]
exclude = ['script\.py']
